<div class="sidebar d-flex flex-column flex-shrink-0 p-3">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'todo:index' %}"
         class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
        <i class="fas fa-home me-2"></i> Home
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'todo:tag-list' %}"
         class="nav-link {% if request.resolver_match.url_name == 'tag-list' %}active{% endif %}">
        <i class="fas fa-tags me-2"></i> Tags
      </a>
    </li>
  </ul>
</div>
